@font-face {
    font-family: bucksFont;
    src: url('../fonts/NBA\ Bucks.ttf');
}

body{
    margin: 0px;
}

header{

    height: 120px;
    background-color: rgb(248, 255, 206);
    display: flex;
    justify-content: center;    
    border-bottom: 3px solid rgb(255, 255, 255);
}

.container{

    width: 800px;    
    
    display: flex;
    justify-content: space-between;
      
    
    
}
nav ul, nav li{
    display: flex;
    list-style-type: none;
    align-self: flex-end;
    padding: 5px;    
    
    


}
nav a{
    text-decoration: none;
    text-transform: uppercase;    
    color: rgb(28, 90, 31);
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
nav a:hover,
nav .active{
    background-color: rgb(28, 90, 31);
    color: rgb(255, 255, 255);
    transition: all 0.3s linear;


}
nav li{
    
    
}


.menu{
    display: flex;
    align-items: flex-end;


}
#bg-bucks{
    height: 670px;
    background-image: url('../images/bgd-bucks.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.column{

    flex-direction: column;
}
.banner_headline{
    margin-top: 20px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    flex: 1;
}
.banner_headline  h1{
    color: rgb(248, 255, 206);
    font-size: 50px;
    font-family: bucksFont;
    text-shadow: 2px 2px 0px black;
    margin: 0px;
    max-width: 320px;
}
.banner_headline  h2{
    color: rgb(248, 255, 206);
    font-size: 15px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    margin: 0px;
    max-width: 350px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;

}
.banner_options{
    height: 210px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    
    
    
}
.banner1,
.banner2,
.banner3{

    flex: 1;
    padding: 20px;

}   
.banner1{
    background-color: green;
    
   

}
.banner2{
    background-color: rgb(4, 168, 146);

}
.banner3{
    background-color: rgb(6, 167, 92);

}
.banner_title{
    font-size: 20px;
    color: white;
    text-shadow: 0.5px 0.5px 2px black;
    padding-bottom: 20px;
}
.banner_desc{
    margin-bottom: 30px;
    color: white;
}
.jogo{
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}
.banner1 a, .banner3 a{
    margin-top: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
}

 .link3{

    padding-top: 36px;  
}
.banner_options a:hover{
    color: rgb(0, 0, 0);
    
}

#conteudo{

    display: flex;
    justify-content: center;
}
#conteudo section{
    
    flex: 2;
}
#conteudo aside{
    
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    text-transform: uppercase;
    

}
.widget_title_bar{
    margin-top: 15px;
    width: 70px;
    background-color: aquamarine;
    height: 5px;
    
}
.main_players{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.main_players div{
    margin: 10px;    
    background-color: rgb(145, 173, 145);
    width: 100px;
    height: 100px;
    
}

